---
date: {{ date }}
title: Code of Conduct
author: {{ contractor_name }}
---

As an independent contractor, I recognize my responsibility to perform my work in accordance with all applicable rules, regulations, and laws. I am committed to building trust and respect in my professional relationships. This Code serves as a guideline for appropriate conduct, which I will uphold at all times. For further information or questions regarding this Code, please reach out via email at [koen@vanesterik.dev](mailto:koen@vanesterik.dev).

## Personal Behavior

- I will act ethically and with integrity.
- I will comply with all policies set forth by {{ agency_name }}.
- I will respect the rights of all individuals I work with.
- I will not abuse confidential information or engage in any illegal practice.
- I will prioritize the interests, rights, and safety of others.
- I will not harass, bully, or discriminate.
- I will not falsify my own or anyone else's identity and will provide true and correct information.
- I will not seek to communicate or initiate payments outside of agreed-upon terms.
- I will not agree to undertake work that I am not capable of completing.
- I will not request upfront payments before delivering work.

## Confidentiality

- I will uphold confidentiality and privacy.
- I will not disclose information or documents I have acquired, except as required by law or with the approval of {{ agency_name }}.

## Contact

- I will not request private contact details from others and will communicate solely through official channels.

## Fraud

- I will not engage in fraudulent activities.
- I will not create multiple identities.
- I will not use my business to illegally transfer funds.
- I will not use my business to generate false reviews about any person, product, or service.

## Communication

- I will avoid exaggeration, derogatory remarks, and inappropriate references.
- I will not engage in personal attacks, unfair criticism, or any unprofessional conduct.

## Bidding

- I will not participate in projects involving illegal behavior.
- I will only commit to projects that I intend to complete.

## Spam or Advertising

- I will not send spam or promote my website or service unless explicitly permitted.

## Affiliates

- I will not refer myself for any affiliate programs.
- I will not obtain names from mailing lists or group emails to send unsolicited emails.

## Payments

- I will not use my business to facilitate money exchange, including but not limited to cryptocurrencies.